@model Paho.Models.Neighborhood

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Html.DisplayName((((Paho.Controllers.NeighborhoodController)this.ViewContext.Controller).getMsg("msgCaselistVigTabGeoLabelNeighborhood")))</h4>
    <hr />

    <dl class="dl-horizontal">
        <!-- Country -->
        <dt>
            @Html.DisplayName((((Paho.Controllers.NeighborhoodController)this.ViewContext.Controller).getMsg("msgCaselistVigTabGeoLabelCountry"))):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State.Area.Country.Name)
        </dd>
        <!-- Area -->
        <dt>
            @Html.DisplayName((((Paho.Controllers.NeighborhoodController)this.ViewContext.Controller).getMsg("msgCaselistVigTabGeoLabelArea"))):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State.Area.Name)
        </dd>
        <!-- State -->
        <dt>
            @Html.DisplayName((((Paho.Controllers.NeighborhoodController)this.ViewContext.Controller).getMsg("msgCaselistVigTabGeoLabelState"))):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State.Name)
        </dd>
        <!-- Neighborhood -->
        <dt>
            @Html.DisplayName((((Paho.Controllers.NeighborhoodController)this.ViewContext.Controller).getMsg("msgCaselistVigTabGeoLabelNeighborhood"))):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <!-- orig_country -->
        <dt>
            @Html.DisplayNameFor(model => model.orig_country):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.orig_country)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

<script type="text/javascript">
    //***************************************
    $('a#MaintenanceM').addClass("active");        //#### CAFQ: 180806
    //***************************************
</script>
