@model Paho.Models.CatAgeGroup

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@(Paho.Controllers.ResourcesM.SgetMessage("msgCatalog", ViewBag.UsrCtry, ViewBag.UsrCtryLang)) - @(Paho.Controllers.ResourcesM.SgetMessage("msgAgeGroups", ViewBag.UsrCtry, ViewBag.UsrCtryLang))</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.id_conf_country, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id_conf_country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id_conf_country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AgeGroup, ((string)Paho.Controllers.ResourcesM.SgetMessage("msgAgeGroups", ViewBag.UsrCtry, ViewBag.UsrCtryLang)), htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AgeGroup, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AgeGroup, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.month_begin, ((string)Paho.Controllers.ResourcesM.SgetMessage("msgMonthStart", ViewBag.UsrCtry, ViewBag.UsrCtryLang)), htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.month_begin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.month_begin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.month_end, ((string)Paho.Controllers.ResourcesM.SgetMessage("msgMonthEnd", ViewBag.UsrCtry, ViewBag.UsrCtryLang)), htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.month_end, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.month_end, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.label_fluid, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.label_fluid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.label_fluid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@(Paho.Controllers.ResourcesM.SgetMessage("msgViewCatPopulation_Crear", ViewBag.UsrCtry, ViewBag.UsrCtryLang)) class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink((string)Paho.Controllers.ResourcesM.SgetMessage("msgReturnToList", ViewBag.UsrCtry, ViewBag.UsrCtryLang), "Index", "CatAgeGroup", new { }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    //***************************************
    $('a#MaintenanceM').addClass("active");        //#### CAFQ: 180806
    //***************************************
</script>  
