@model Paho.Models.SummaryViewModel

<!-- ko with: app.Views.Summary -->
<div class="row" style="margin-bottom:15px; margin-top:1em;">
    <!--Country-->
    @if (Model.DisplayCountries)
    {
        <div class="col-md-5">
            <div class='input-group'>
                <span class="input-group-addon">
                    <!--País:-->
                    @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelCountry"))
                </span>
                <select id="Pais" class="form-control" data-bind="options: activecountries,
                        optionsText: 'Name',
                        optionsValue: 'Id',
                        value: selectedCountryId,
                        optionsCaption: '@(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryFieldSelect"))',
                        event:{ change: ReloadHospitals}"></select>
            </div>
        </div>
    }
    <!--Hospital-->
    @if (Model.DisplayHospitals)
    {
        <div class="col-md-5">
            <div class='input-group'>
                <span class="input-group-addon">
                    <!--Establecimientos:-->
                    @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelHospital"))
                </span>
                <select id="combHospital1" class="form-control" data-bind="options: hospitals,
                    optionsText: 'Name',
                    optionsValue: 'Id',
                    value: selectedHospitalId,
					event:{change: GetYearSummaryForYearItems}"></select>
                @*optionsCaption: 'Seleccione...',*@
            </div>
        </div>
    }
    <!--Fecha-->
    <div class="col-md-3">
        <div class='input-group'>
            <span class="input-group-addon">
                <!--Fecha:-->
                @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelDate"))
            </span>
            <input id="HospitalDate" type='text' class="form-control" data-bind='datepicker: HospitalDate, datepickerOptions: { beforeShowDay: PickLastDay, maxDate:@Model.DatePickerConfig, dateFormat:"@Model.DateFormatDP"}' />
        </div>
    </div>
    <!--EW-->
    <div class="col-md-2">
        <div class='input-group'>
            <span class="input-group-addon">
                <!--Semana Epi:-->
                @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelEpidemWeek"))
            </span>
            <input id="HospitalEW" type='text' readonly="readonly" class="form-control" data-bind="value: HospitalEW" />
        </div>
    </div>
    <!--EY-->
    <div class="col-md-2">
        <div class='input-group'>
            <span class="input-group-addon">
                <!--Año Epi:-->
                @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelEpidemYear"))
            </span>
            <input id="HospitalYE" type='text' readonly="readonly" class="form-control" data-bind="value: HospitalYE" />
        </div>
    </div>
</div>

<!-- Boton Confirmar-->
<div class="row" style="margin-bottom:15px; margin-top:1em;">
    <div class="col-md-3">
        <div class="btn-group">
            <!--<button id="search" type="button" class="btn btn-primary" data-bind="click: GetSummayItems">Confirmar</button> -->
            <button id="search" type="button" class="btn btn-primary" data-bind="click: GetSummayItems">@(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryButtonConfirm"))</button>
        </div>
    </div>
</div>

<!-- Cabecera Ingreso de Datos -->
<div class="row rowform" id="LabelSummary">
    <!-- Cabecera Grupos de Edad -->
    <div class="col-md-2">
        <span class="input-group-addon">
            <!--Grupo edad-->
            @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelAgeGroup"))
        </span>
    </div>

    <!-- Cabecera Datos -->
    @if (ViewBag.ILI == true)
    {
        <div class="@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3 || ViewBag.UsrCtry == 9) ?  "col-md-2_5" : "col-md-1")">
            <!-- "Pobl." : "Tot. Cons."-->
            <div class="col-md-1 input-group" data-bind="visible:EnableCHI() && NoActiveBOL() && (ActiveCOS() || ActiveSUR())">
                <span class="input-group-addon">
                    @(ViewBag.UsrCtry == 7 ? (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelPopulation")) : (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelTotalCons")))
                </span>
            </div>
            <!--ETI.F-->
            <div class='col-md-1 input-group' style='@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3 || ViewBag.UsrCtry == 9) ? "padding-left:0; padding-right:0;" : "")' data-bind="visible:DisableCHI() || ActiveBOL() || NoActiveSUR() || NoActiveJAM()">
                <span class="input-group-addon" data-bind="visible:DisableCHI() || ActiveBOL()">
                    @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelILIFemale"))
                </span>
            </div>
            <!--ETI.M-->
            <div class='col-md-1 input-group' style='@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3 || ViewBag.UsrCtry == 9) ? "padding-left:0; padding-right:0;" : "")' data-bind="visible:DisableCHI() || ActiveBOL() || NoActiveSUR() || NoActiveJAM()">
                <span class="input-group-addon" data-bind="visible:DisableCHI() || ActiveBOL()">
                    @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelILIMale"))
                </span>
            </div>
            <!--"ETI T." : "ETI Ext.-->
            <div class="col-md-1 input-group" data-bind="visible:NoActiveSUR() && NoActiveJAM() && NoActiveCAY()" style='@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3 || ViewBag.UsrCtry == 9) ? "padding-left:0; padding-right:0;" : "")"'>
                <span class="input-group-addon">
                    @((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelILITotal")) : (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelILIExt")))
                </span>
            </div>
            <!--"ETI" : "ETI Emer.-->
            <div class="col-md-1 input-group" data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()">
                <span class="input-group-addon">
                    @((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelILI")) : (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelILIEmer")))
                </span>
            </div>
        </div>
    }

    @if (ViewBag.SARI == true)
    {
        <!-- Hospitalizacion -->
        <div class="@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ?  "col-md-2_5" : "col-md-1")">
            <div class='col-md-1 input-group' style='@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "padding-left:0; padding-right:0;":"") ' data-bind="visible:DisableCHI() || ActiveBOL() || NoActiveSUR() || NoActiveJAM()">
                <span class="input-group-addon font_12" data-bind="visible:DisableCHI() || ActiveBOL()">
                    <!--Hosp.F-->
                    @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelHospitalizedFemale"))
                </span>
            </div>
            <div class='col-md-1 input-group' style='@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "padding-left:0; padding-right:0;":"")' data-bind="visible:DisableCHI() || ActiveBOL() || NoActiveSUR() || NoActiveJAM()">
                <span class="input-group-addon font_12" data-bind="visible:DisableCHI() || ActiveBOL()">
                    <!--Hosp.M-->
                    @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelHospitalizedMale"))
                </span>
            </div>
            <div class='col-md-1 input-group' style='@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "padding-left:0; padding-right:0;":"")'>
                <span class="input-group-addon font_12">
                    <!--Hosp.T-->
                    @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelHospitalizedTotal"))
                </span>
            </div>
        </div>
        <!-- UCI -->
        <div class="@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ?  "col-md-2_5" : "col-md-1")">
            <div class='col-md-1 input-group' style='@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "padding-left:0; padding-right:0;":"")' data-bind="visible:DisableCHI() || ActiveBOL() || NoActiveSUR() || NoActiveJAM()">
                <span class="input-group-addon" data-bind="visible:DisableCHI() || ActiveBOL()">
                    <!--"UPC" : "UCI"-->
                    @((ViewBag.UsrCtry == 7) ? (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelICUFemale")) : (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelUCIFemale")))
                </span>
            </div>
            <div class='col-md-1 input-group' style='@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "padding-left:0; padding-right:0;":"")' data-bind="visible:DisableCHI() || ActiveBOL() || NoActiveSUR() || NoActiveJAM()">
                <span class="input-group-addon" data-bind="visible:DisableCHI() || ActiveBOL() ">
                    <!--"UPC" : "UCI"-->
                    @((ViewBag.UsrCtry == 7) ? (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelICUMale")) : (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelUCIMale")))
                </span>
            </div>
            <div class='col-md-1 input-group' style='@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "padding-left:0; padding-right:0;":"")'>
                <span class="input-group-addon">
                    <!--"UPC" : "UCI"-->
                    @((ViewBag.UsrCtry == 7) ? (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelICUTotal")) : (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelUCITotal")))
                </span>
            </div>
        </div>
        <!-- Fallecidos -->
        <div class="@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ?  "col-md-2_5" : "col-md-1")">
            <div class='col-md-1 input-group' style='@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "padding-left:0; padding-right:0;":"")' data-bind="visible:DisableCHI() || ActiveBOL() || NoActiveSUR() || NoActiveJAM()">
                <span class="input-group-addon font_12" data-bind="visible:DisableCHI() || ActiveBOL() ">
                    <!--Falle.F-->
                    @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelDeceasedFemale"))
                </span>
            </div>
            <div class='col-md-1 input-group' style='@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "padding-left:0; padding-right:0;":"")' data-bind="visible:DisableCHI() || ActiveBOL() || NoActiveSUR() || NoActiveJAM()">
                <span class="input-group-addon font_12" data-bind="visible:DisableCHI() || ActiveBOL() ">
                    <!--Falle.M.-->
                    @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelDeceasedMale"))
                </span>
            </div>
            <div class='col-md-1 input-group' style='@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "padding-left:0; padding-right:0;":"")'>
                <span class="input-group-addon font_12">
                    <!--Falle.T-->
                    @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelDeceasedTotal"))
                </span>
            </div>
        </div>
        <!-- Neumonía -->
        <div class="col-md-1" data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()">
            <span class="input-group-addon" data-bind="visible:false">
                <!--Neumonía F-->
                @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelPneumoniaFemale"))
            </span>
            <span class="input-group-addon" data-bind="visible:false">
                <!--Neumonía M.-->
                @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelPneumoniaMale"))
            </span>
            <span class="input-group-addon" data-bind="visible:EnableCHI()">
                <!--Neumonía T-->
                @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelPneumoniaTotal"))
            </span>
        </div>
        <!-- IRAG -->
        <div class="col-md-1" data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()">
            <span class="input-group-addon" data-bind="visible:false">
                <!--IRAG F-->
                @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelSARIFemale"))
            </span>
            <span class="input-group-addon" data-bind="visible:false">
                <!--IRAG M.-->
                @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelSARIMale"))
            </span>
            <span class="input-group-addon" data-bind="visible:EnableCHI()">
                <!--IRAG T-->
                @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelSARITotal"))
            </span>
        </div>
        <!-- Ventilación -->
        <div class="col-md-1" data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()">
            <span class="input-group-addon" data-bind="visible:false">
                <!--Vent.F-->
                @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelMechanicalVentFemale"))
            </span>
            <span class="input-group-addon" data-bind="visible:false">
                <!--Vent.M.-->
                @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelMechanicalVentMale"))
            </span>
            <span class="input-group-addon" data-bind="visible:EnableCHI()">
                <!--Vent.T-->
                @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelMechanicalVentTotal"))
            </span>
        </div>
    }
</div>

<!-- ko foreach: SummayItems -->
<div class="row rowform" dstyle="margin-top:1em;">
    <div class="col-md-2">
        <span class="input-group-addon" data-bind="text: AgeGroupDescription">
        </span>
    </div>

    @if (ViewBag.ILI == true)
    {
        <div class="@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3 || ViewBag.UsrCtry == 9) ?  "col-md-2_5" : "col-md-1")">
            <!-- T. Cons. -->
            <div class="col-md-1 input-group" data-bind="visible:EnableCHI() && NoActiveBOL() && (ActiveSUR() || ActiveCOS())">
                <input type='text' name="ETIDenoST" id="ETIDenoST" class="form-control" style="padding:6px;" data-bind="value: ETIDenoST" />
            </div>
            <!--  -->
            <div class='col-md-1 input-group' data-bind="visible:DisableCHI() || ActiveBOL()">
                <input type='text' name="ETINumFem" id="ETINumFem" class="form-control" style="padding:6px;" data-bind="value: ETINumFem" />
            </div>
            <!--  -->
            <div class='col-md-1 input-group' data-bind="visible:DisableCHI() || ActiveBOL()">
                <input type='text' name="ETINumMaso" id="ETINumMaso" class="form-control" style="padding:6px;" data-bind="value: ETINumMaso" />
            </div>
            <!--  -->
            <div class='col-md-1 input-group' data-bind="visible:(ActiveBOL() || ActiveCOS() || DisableCHI())">
                <input type='text' name="ETINumST" id="ETINumST" class="form-control" style="padding:6px;" data-bind="value: ETINumST" />
            </div>
            <!--  -->
            <div class="col-md-1 input-group" id="ETINumEmerST" data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()">
                <input type='text' name="ETINumEmerST" id="ETINumEmerST" class="form-control" style="padding:6px;" data-bind="value: ETINumEmerST" />
            </div>
        </div>
    }

    @if (ViewBag.SARI == true)
    {
        <!-- Hospitalizacion -->
        <div class="@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "col-md-2_5" : "col-md-1")" id="Hosp">
            <div class='col-md-1 input-group' data-bind="visible:DisableCHI() || ActiveBOL()">
                <input type='text' name="HospFem" id="HospFem" class="form-control" style="padding:6px;" data-bind="value: HospFem" />
            </div>
            <div class='col-md-1 input-group' data-bind="visible:DisableCHI() || ActiveBOL()">
                <input type='text' name="HospMaso" id="HospMaso" class="form-control" style="padding:6px;" data-bind="value: HospMaso" />
            </div>
            <div class='col-md-1 input-group'>
                <input type='text' name="HospST" id="HospST" class="form-control" style="padding:6px;" @((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "readonly='readonly'" : "") data-bind="value: HospST" />
            </div>
        </div>
        <!-- UCI -->
        <div class="@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "col-md-2_5" : "col-md-1")" id="UCI">
            <div class='col-md-1 input-group' data-bind="visible:DisableCHI() || ActiveBOL()">
                <input type='text' name="UCIFem" id="UCIFem" class="form-control" style="padding:6px;" data-bind="value: UCIFem" />
            </div>
            <div class='col-md-1 input-group' data-bind="visible:DisableCHI() || ActiveBOL()">
                <input type='text' name="UCIMaso" id="UCIMaso" class="form-control" style="padding:6px;" data-bind="value: UCIMaso" />
            </div>
            <div class='col-md-1 input-group'>
                <input type='text' name="UCIST" id="UCIST" class="form-control" style="padding:6px;" @((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "readonly='readonly'" : "") data-bind="value: UCIST" />
            </div>
        </div>
        <!-- Fallecidos -->
        <div class="@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "col-md-2_5" : "col-md-1")" id="Def">
            <div class='input-group col-md-1' data-bind="visible:DisableCHI() || ActiveBOL()">
                <input type='text' class="form-control" style="padding:6px;" data-bind="value: DefFem" />
            </div>
            <div class='input-group col-md-1' data-bind="visible:DisableCHI() || ActiveBOL()">
                <input type='text' class="form-control" style="padding:6px;" data-bind="value: DefMaso" />
            </div>
            <div class='input-group col-md-1'>
                <input type='text' class="form-control" style="padding:6px;" @((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "readonly='readonly'" : "") data-bind="value: DefST" />
            </div>
        </div>
        <!-- Neumonía -->
        <div class="col-md-1" data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()">
            <div class="row">
                <div class="col-md-4" data-bind="visible:false">
                    <div class='input-group'>
                        <input type='text' class="form-control" style="padding:6px;" data-bind="value: NeuFem" />
                    </div>
                </div>
                <div class="col-md-4" data-bind="visible:false">
                    <div class='input-group'>
                        <input type='text' class="form-control" style="padding:6px;" data-bind="value: NeuMaso" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class='input-group' data-bind="visible:EnableCHI() && NoActiveBOL()">
                        <input type='text' class="form-control" style="padding:6px;" @((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "readonly='readonly'" : "") data-bind="value: NeuST" />
                    </div>
                </div>
            </div>
        </div>
        <!-- IRAG -->
        <div class="col-md-1" data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()">
            <div class="row">
                <div class="col-md-4" data-bind="visible:false">
                    <div class='input-group'>
                        <input type='text' class="form-control" style="padding:6px;" data-bind="value: CCSARIFem" />
                    </div>
                </div>
                <div class="col-md-4" data-bind="visible:false">
                    <div class='input-group'>
                        <input type='text' class="form-control" style="padding:6px;" data-bind="value: CCSARIMaso" />
                    </div>
                </div>
                <div class="col-md-4" data-bind="visible:EnableCHI() && NoActiveBOL()">
                    <div class='input-group'>
                        <input type='text' class="form-control" style="padding:6px;" @((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "readonly='readonly'" : "") data-bind="value: CCSARIST" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Ventilación -->
        <div class="col-md-1" data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()">
            <div class="row">
                <div class="col-md-4" data-bind="visible:false">
                    <div class='input-group'>
                        <input type='text' class="form-control" style="padding:6px;" data-bind="value: VentFem" />
                    </div>
                </div>
                <div class="col-md-4" data-bind="visible:false">
                    <div class='input-group'>
                        <input type='text' class="form-control" style="padding:6px;" data-bind="value: VentMaso" />
                    </div>
                </div>
                <div class="col-md-4" data-bind="visible:EnableCHI() && NoActiveBOL()">
                    <div class='input-group'>
                        <input type='text' class="form-control" style="padding:6px;" @((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "readonly='readonly'" : "") data-bind="value: VentST" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- /ko -->

<!-- Totales -->
<div class="row rowform" id="TotalSummary">
    <!--Totales-->
    <div class="col-md-2">
        <span class="input-group-addon">
            @(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelTotal"))
        </span>
    </div>

    @if (ViewBag.ILI == true)
    {
        <div class="@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3 || ViewBag.UsrCtry == 9) ?  "col-md-2_5" : "col-md-1")">
            <!-- T. Cons. -->
            <span class="col-md-1 input-group" data-bind="visible:EnableCHI() && NoActiveBOL() && (ActiveSUR() || ActiveCOS())">
                <input type='text' class="form-control" style="padding:6px;" readonly="readonly" id="ColETIDenoST" data-bind="value: ColETIDenoST" />
            </span>
            <!--  -->
            <span class='col-md-1 input-group' data-bind="visible:DisableCHI() || ActiveBOL()">
                <input type='text' class="form-control" style="padding:6px;" readonly="readonly" id="ColHospFST" data-bind="value: ColETIFST" />
            </span>
            <!--  -->
            <span class='col-md-1 input-group' data-bind="visible:DisableCHI() || ActiveBOL()">
                <input type='text' class="form-control" style="padding:6px;" readonly="readonly" id="ColHospMST" data-bind="value: ColETIMST" />
            </span>
            <!--  -->
            <span class="col-md-1 input-group" data-bind="visible:NoActiveSUR() && NoActiveJAM() && NoActiveCAY()">
                <input type='text' class="form-control" style="padding:6px;" readonly="readonly" id="ColETINumST" data-bind="value: ColETINumST" />
            </span>
            <!--  -->
            <div class="@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3 || ViewBag.UsrCtry == 25 || ViewBag.UsrCtry == 17) ? "col-md-2_5" : "col-md-1")" data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()">
                <span class="col-md-1 input-group">
                    <input type='text' class="form-control" style="padding:6px;" readonly="readonly" id="ColETINumEmerST" data-bind="value: ColETINumEmerST" />
                </span>
            </div>
        </div>
    }

    @if (ViewBag.SARI == true)
    {
        <!-- Hospitalizacion -->
        <div class="@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "col-md-2_5" : "col-md-1")">
            <span class='col-md-1 input-group' data-bind="visible:DisableCHI() || ActiveBOL()">
                <input type='text' class="form-control" style="padding:6px;" readonly="readonly" id="ColHospFST" data-bind="value: ColHospFST" />
            </span>
            <span class='col-md-1 input-group' data-bind="visible:DisableCHI() || ActiveBOL()">
                <input type='text' class="form-control" style="padding:6px;" readonly="readonly" id="ColHospMST" data-bind="value: ColHospMST" />
            </span>
            <span class='col-md-1 input-group'>
                <input type='text' class="form-control" style="padding:6px;" readonly="readonly" id="ColHospTST" data-bind="value: ColHospTST" />
            </span>
        </div>
        <!-- UCI -->
        <div class="@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "col-md-2_5" : "col-md-1")">
            <span class='col-md-1 input-group' data-bind="visible:DisableCHI() || ActiveBOL()">
                <input type='text' class="form-control" style="padding:6px;" readonly="readonly" id="ColUCIFST" data-bind="value: ColUCIFST" />
            </span>
            <span class='col-md-1 input-group' data-bind="visible:DisableCHI() || ActiveBOL()">
                <input type='text' class="form-control" style="padding:6px;" readonly="readonly" id="ColUCIMST" data-bind="value: ColUCIMST" />
            </span>
            <span class='col-md-1 input-group'>
                <input type='text' class="form-control" style="padding:6px;" readonly="readonly" id="ColUCITST" data-bind="value: ColUCITST" />
            </span>
        </div>
        <!-- Fallecidos -->
        <div class="@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "col-md-2_5" : "col-md-1")">
            <span class='col-md-1 input-group' data-bind="visible:DisableCHI() || ActiveBOL()">
                <input type='text' class="form-control" style="padding:6px;" readonly="readonly" id="ColFalleFST" data-bind="value: ColFalleFST" />
            </span>
            <span class='col-md-1 input-group' data-bind="visible:DisableCHI() || ActiveBOL()">
                <input type='text' class="form-control" style="padding:6px;" readonly="readonly" id="ColFalleMST" data-bind="value: ColFalleMST" />
            </span>
            <span class='col-md-1 input-group'>
                <input type='text' class="form-control" style="padding:6px;" readonly="readonly" id="ColFalleTST" data-bind="value: ColFalleTST" />
            </span>
        </div>
        <!-- Neumonía -->
        <div class="@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "col-md-2_5" : "col-md-1")" data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM()">
            <span class="col-md-1 input-group" data-bind="visible:false">
            </span>
            <span class="col-md-1 input-group" data-bind="visible:false">
            </span>
            <span class='col-md-1 input-group' data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()">
                <input type='text' class="form-control" style="padding:6px;" readonly="readonly" id="ColNeuTST" data-bind="value: ColNeuTST" />
            </span>
        </div>
        <!-- IRAG -->
        <div class="@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "col-md-2_5" : "col-md-1")" data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM()">
            <span class="input-group" data-bind="visible:false">
            </span>
            <span class="input-group" data-bind="visible:false">
            </span>
            <span class='col-md-1 input-group' data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()">
                <input type='text' class="form-control" style="padding:6px;" readonly="readonly" id="ColIRAGTST" data-bind="value: ColIRAGTST" />
            </span>
        </div>
        <!-- Ventilación -->
        <div class="@((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? "col-md-2_5" : "col-md-1")" data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM()">
            <span class="col-md-1 input-group" data-bind="visible:false">
            </span>
            <span class="col-md-1 input-group" data-bind="visible:false">
            </span>
            <span class='col-md-1 input-group' data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()">
                <input type='text' class="form-control" style="padding:6px;" readonly="readonly" id="ColVentTST" data-bind="value: ColVentTST" />
            </span>
        </div>
    }
</div>

<!-- Botones -->
<div class="row" id="ButtonSummary" style="margin-bottom:15px; margin-top:1em; display:none;">
    <div class="col-md-6">
        <div class="btn-group">
            <button id="ConfirmarItems" type="button" class="btn btn-primary" data-bind="click: SaveSummayItems">@(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryButtonSave"))</button>
            <button id="CancelarItems" type="button" class="btn btn-primary" data-bind="click: CancelarItems">@(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryButtonCancel"))</button>
            <!--<button id="excel" type="button" class="btn btn-primary" data-bind="click: GetSummaryExcel">(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryButtonDownloadAsExcel"))</button>-->
            <!-- button id = "RecargarItems" type="button" class="btn btn-primary" data-bind="click: RecargarItems" style="display:none;">Recharge</!--button -->
        </div>
    </div>
</div>

<!-- Bandeja -->
<div class="container" style="margin-bottom:15px; margin-top:1em;">
    <table class="table table-hover table-responsive" style="width:480px;">
        <!-- Cabecera -->
        <thead id="LabelBandeja">
            <tr>
                <!-- Semana epidemiológica -->
                <th class="col-md-1">@(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelEpidemWeek"))</th>

                @if (ViewBag.ILI == true)
                {
                    <!--"Pobl." : "Tot. Cons."-->
                    <th data-bind="visible:EnableCHI() && NoActiveBOL() && (ActiveSUR())" class="col-md-1">
                        @(ViewBag.UsrCtry == 7 ? (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelPopulation")) : (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelTotalCons")))
                    </th>
                    <!--"ETI T." : "ETI Ext."-->
                    <th data-bind="visible:NoActiveSUR() && NoActiveJAM() && NoActiveCAY()" class="col-md-1">
                        @((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelILITotal")) : (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelILIExt")))
                    </th>
                    <!--"ETI" : "ETI Emer."-->
                    <th data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()" class="col-md-1">
                        @((ViewBag.UsrCtry == 7 || ViewBag.UsrCtry == 3) ? (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelILI")) : (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelILIEmer")))
                    </th>
                }

                @if (ViewBag.SARI == true)
                {
                    <!-- Hosp. T -->
                    <th class="col-md-1">@(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelHospitalizedTotal"))</th>
                    <!-- "UPC" : "UCI" -->
                    <th class="col-md-1">@((ViewBag.UsrCtry == 7) ? (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelICUTotal")) : (((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelUCITotal")))</th>
                    <!--Falle. T-->
                    <th class="col-md-1">@(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelDeceasedTotal"))</th>
                    <!--Neumonía T-->
                    <th data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()" class="col-md-1">@(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelPneumoniaTotal"))</th>
                    <!--IRAG T-->
                    <th data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()" class="col-md-1">@(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelSARITotal"))</th>
                    <!--Vent. T-->
                    <th data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()" class="col-md-1">@(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryLabelMechanicalVentTotal"))</th>
                }
            </tr>
        </thead>
        
        <!-- Cuerpo -->
        <tbody>
            <!-- ko foreach: SummaryForYearItems -->
            <!--reemplazo-->
            <!-- fin reemplazo-->
            <tr style="cursor:pointer;" id="TotalBandeja" data-bind="attr: { 'data-week': StartDateOfWeek }, click: showEpiWeek">
                <td>
                    <span data-bind="text: ColEpiYearWeek" />
                </td>

                @if (ViewBag.ILI == true)
                {
                    <!--"Pobl." : "Tot. Cons."-->
                    <td data-bind="visible:EnableCHI() && NoActiveBOL() && (ActiveSUR())">
                        <span data-bind="text: ColETIDenoST" />
                    </td>
                    <!--"ETI T." : "ETI Ext."-->
                    <td data-bind="visible:NoActiveSUR() && NoActiveJAM() && NoActiveCAY()">
                        <span data-bind="text: ColETINumST" />
                    </td>
                    <!--"ETI" : "ETI Emer."-->
                    <td data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()">
                        <span data-bind="text: ColETINumEmerST" />
                    </td>
                }

                @if (ViewBag.SARI == true)
                {
                    <td>
                        <span data-bind="text: ColHospTST" />
                    </td>
                    <td>
                        <span data-bind="text: ColUCITST" />
                    </td>
                    <td>
                        <span data-bind="text: ColFalleTST" />
                    </td>
                    <td data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()">
                        <span data-bind="text: ColNeuTST" />
                    </td>
                    <td data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()">
                        <!--span data-bind="text: ColNeuTST" Columna IRAG T?? /-->
                    </td>
                    <td data-bind="visible:EnableCHI() && NoActiveBOL() && NoActiveSUR() && NoActiveJAM() && NoActiveCAY()">
                        <span data-bind="text: ColVentTST" />
                    </td>
                }
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>

<script type="text/javascript">
    var countries = @Html.Raw(Json.Encode(Model.Countries));
    var institutions = @Html.Raw(Json.Encode(Model.Institutions));
    var CatAgeGroup = @Html.Raw(Json.Encode(Model.CatAgeGroup));
    var selcty = @ViewBag.UsrCtry;

    var PAHOFLU_date_format = "@(Html.Raw(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgDateFormat")))";
    var moment_date_format = "@(Html.Raw(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgDateFormatMoment")))";
    var ISO_date_format = "@(Html.Raw(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgDateFormatISO")))";
    var DatePicker_date_format = "@(Html.Raw(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgDateFormatDP")))";

    /////////var MsgSavedData = "@(Html.Raw(((Paho.Controllers.SummaryController)this.ViewContext.Controller).getMsg("msgViewSummaryValidateSavedData")))";

</script>
<!-- /ko -->
