@model Paho.Models.BaselineConfigurationViewModel

@{
    string labelCatalog = Paho.Controllers.ResourcesM.SgetMessage("msgMenuParametersBaseline", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string labelCountry = Paho.Controllers.ResourcesM.SgetMessage("msgViewExportarLabelCountry", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string labelFieldSelect = Paho.Controllers.ResourcesM.SgetMessage("msgViewExportarFieldSelect", ViewBag.UsrCtry, ViewBag.UsrCtryLang);

    string labelYear = "Año actual temporada:";
    string labelStartWeek = "Semana inicio:";
    string labelTotalWeek = "Total semanas periodo:";
    string labelTitle = "Título:";
    string labelApplicationLink = "Enlace a la aplicación WHO Average Curves...";
    string labelStartYearDH = "Año inicial:";
    string labelEndYearDH = "Año final:";

    string labelSendUpdates = Paho.Controllers.ResourcesM.SgetMessage("msgLineasBasalesSendUpdates", ViewBag.UsrCtry, ViewBag.UsrCtryLang);

    //string labelAttachment = Paho.Controllers.ResourcesM.SgetMessage("msgTicketAttachment", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string labelAttachment = "Seleccione archivo con datos históricos";
    //string labelAttachmentSize = Paho.Controllers.ResourcesM.SgetMessage("msgTicketAttachmentSize", ViewBag.UsrCtry, ViewBag.UsrCtryLang);

    string labelPaso1 = "Paso 1:";
    string labelPaso2 = "Paso 2:";
    string labelPaso3 = "Paso 3:";
    string labelPaso4 = "Paso 4:";

    string labelSelectCountry = "Seleccionar país y ajustar valores actuales en la plantilla";
    string labelGetData = "Obtener datos históricos del país y guardarlo en una carpeta adecuada como por ejemplo 'C:\\Mis Documentos\\PlantillasLineasBasales'";
    string labelFileUpload = "Cargar archivo con datos historicos para su envio al servidor e indicar el ámbito de los datos";
    string labelUpdateTemplate = "Actualizar datos en plantillas del país";

    //string labelCreate = Paho.Controllers.ResourcesM.SgetMessage("msgViewCatPopulation_Crear", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
}


<style>
    .col-md-10 {
        margin-top: 10px;
    }

    #DescriptionTicket {
        max-width: 400px;
        max-height: 145px;
        height: 145px;
    }

    #SubjectTicket {
        width: 426px;
        max-width: 426px;
    }

    .fileChooser {
        margin-bottom: 10px;
    }

    /*ticketFileChooser*/
    .ticketFileChooser {
        display: inline !important;
        margin-left: 10px;
        max-width: 590px;
    }

    #fileSizeTotal {
        margin-left: 40px;
        color: blue;
        font-weight: bold;
    }

    #clearButton1, #clearButton2, #clearButton3 {
        margin-left: 5px;
        display: none;
    }

    #ticketAttachmentWarning {
        margin: 20px 5px;
    }

    #ticketAttachmentWarningMsg {
        color: red;
        font-weight: bold;
        display: none;
    }

    #attachmentLoader {
        display: none;
    }

    attachmentLoaderContainer {
        display: inline;
    }

    #ticketStatus, #ticketStatusLabel {
        display: none;
    }

    #ticketPriority, #ticketPriorityLabel {
        display: none;
    }

    #editTicket {
        display: none;
    }

    #IDTicket {
        display: none;
    }

    #rolType {
        display: none;
    }

    /*.custom-file-input ~ .custom-file-label::after {
        content: "Elegirrrr";
    }*/
</style>

<!-- ko with: app.Views.Baselineconf -->
<div class="row" style="margin-bottom:15px; margin-top:1em;">
    <div class='input-group'>
        <span class="input-group-addon">
            <b>@(labelCatalog)</b>
        </span>
    </div>
</div>

<!--País:-->

<div class="row" style="margin-bottom: 15px; margin-top: 1em;">
    <div class="col-md-6">
        <span style="font-weight:bold; font-size: 10pt;">@(labelPaso1 + " " + labelSelectCountry)</span>
    </div>
    <div class="col-md-10">
        <div class='input-group'>
            <span class="input-group-addon">
                @(labelCountry)
            </span>
            <select id="Pais" class="form-control" data-bind="options: countries,
                               optionsText: 'Name',
                               optionsValue: 'Id',
                               value: selectedCountryId,
                               optionsCaption: '@(labelFieldSelect)',
                               event: { change: ReloadParameters}">
            </select>
        </div>
    </div>
</div>


<div class="row" style="margin-bottom:15px; margin-top:1em;">
    <div class="col-md-3">
        <div class='input-group'>
            <span class="input-group-addon">
                @(labelYear)
            </span>
            <input id="Year" type='text' class="form-control" data-bind="value: Year" />
        </div>
    </div>
    <div class="col-md-3">
        <div class='input-group'>
            <span class="input-group-addon">
                @(labelStartWeek)
            </span>
            <input id="StartWeek" type='text' class="form-control" data-bind="value: StartWeek" />
        </div>
    </div>
    <div class="col-md-3">
        <div class='input-group'>
            <span class="input-group-addon">
                @(labelTotalWeek)
            </span>
            <input id="EndWeek" type='text' class="form-control" data-bind="value: EndWeek" />
        </div>
    </div>
</div>

<div class="row" style="margin-bottom:15px; margin-top:1em;">
    <div class="col-md-6">
        <div class='input-group'>
            <span class="input-group-addon">
                @(labelTitle)                
            </span>
            <input id="Title" type='text' class="form-control" readonly data-bind="value: Title" style="max-width:1000px; width:1000px" />
        </div>
    </div>
</div>

<br />
<div class="row" style="margin-bottom:15px; margin-top:1em;" data-bind="visible: VisibleGetHistoricalData()">
    <div class="col-md-10">
        <span style="font-weight:bold; font-size: 10pt;">@(labelPaso2 + " " + labelGetData)</span>
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="@(ViewBag.UrlWhoAC)" target="_blank">@(labelApplicationLink)</a>
    </div>
</div>

<!-- COMPONENT START -->
<br />
<div class="row" style="margin-bottom:15px; margin-top:1em;">
    <div class="col-md-6">
        @if (ViewBag.UsrCtry == 32)
        {
            <span style="font-weight:bold; font-size: 10pt;">@(labelPaso3 + " " + labelFileUpload)</span>
        }
        else
        {
            <span style="font-weight:bold; font-size: 10pt;">@(labelPaso2 + " " + labelFileUpload)</span>
        }
    </div>
    <div class="col-md-10">
        <div class='input-group'>
            <label for="ticketFile">@(labelAttachment)</label>
            <input class="ticketFileChooser" type="file" id="ticketFile" accept=".xls, .xlsx" style="width: 600px" />
            @*<span>@(labelAttachmentSize)</span>*@
            @*<span id="fileSize1"></span>*@
            @*<img id="clearButton1" src="~/Content/themes/base/images/CrossSmall.png" onclick="cleanFileElement(1)">*@
        </div>
    </div>
</div>

<div class="row" style="margin-bottom:15px; margin-top:1em;">
    <div class="col-md-3">
        <div class='input-group'>
            <span class="input-group-addon">
                @(labelStartYearDH)
            </span>
            <input id="StartYearDH" type='text' class="form-control" data-bind="value: StartYearDH" />
        </div>
    </div>
    <div class="col-md-3">
        <div class='input-group'>
            <span class="input-group-addon">
                @(labelEndYearDH)
            </span>
            <input id="EndYearDH" type='text' class="form-control" data-bind="value: EndYearDH" />
        </div>
    </div>
</div>

<br />
<div class="row" style="margin-bottom:15px; margin-top:1em;">    
    <div class="col-md-6">
        @if (ViewBag.UsrCtry == 32)
        {
            <span style="font-weight:bold; font-size: 10pt;">@(labelPaso4 + " " + labelUpdateTemplate)</span>
        }
        else
        {
            <span style="font-weight:bold; font-size: 10pt;">@(labelPaso3 + " " + labelUpdateTemplate)</span>
        }            
    </div>
    <div class="col-md-10">
        <div class="input-group">
            @*<button id="cleanForm" type="button" class="btn btn-primary" onclick="CleanForm()">@(((Paho.Controllers.TicketController)this.ViewContext.Controller).getMsg("msgTicketCleanForm"))</button>*@
            <button id="newTicket" type="button" class="btn btn-primary" data-bind="click: SaveParameters">@(labelSendUpdates)</button>

            @*<img id="attachmentLoader" src="~/Content/themes/base/images/loader-1s-29px.gif" />*@

        </div>
    </div>
</div>
<!-- COMPONENT END -->

<script type="text/javascript">
    var selcty = @ViewBag.UsrCtry;
    countries = @Html.Raw(Json.Encode(Model.Countries));

    var PAHOFLU_date_format = "@(Html.Raw(Paho.Controllers.ResourcesM.SgetMessage("msgDateFormat", ViewBag.UsrCtry, ViewBag.UsrCtryLang)))";
    var moment_date_format = "@(Html.Raw(Paho.Controllers.ResourcesM.SgetMessage("msgDateFormatMoment", ViewBag.UsrCtry, ViewBag.UsrCtryLang)))";
    var ISO_date_format = "@(Html.Raw(Paho.Controllers.ResourcesM.SgetMessage("msgDateFormatISO", ViewBag.UsrCtry, ViewBag.UsrCtryLang)))";
    var DatePicker_date_format = "@(Html.Raw(Paho.Controllers.ResourcesM.SgetMessage("msgDateFormatDP", ViewBag.UsrCtry, ViewBag.UsrCtryLang)))";

    //***************************************
    $('a#MaintenanceM').addClass("active");
    //***************************************
</script>

<!-- /ko -->
