@model Paho.Models.CatVirusType

<h2>@(Paho.Controllers.CatVirusTypeController.SgetMessage("msgViewCatPopulation_Borrar", ViewBag.UsrCtry, ViewBag.UsrCtryLang))</h2>
<p class="error">@ViewBag.ErrorMessage</p>
<h3>@(Paho.Controllers.CatVirusTypeController.SgetMessage("msgDeleteRecord", ViewBag.UsrCtry, ViewBag.UsrCtryLang))?</h3>
<div>
    <h4>@(Paho.Controllers.CatVirusTypeController.SgetMessage("msgCatalog", ViewBag.UsrCtry, ViewBag.UsrCtryLang)) - @(Paho.Controllers.CatVirusTypeController.SgetMessage("msgTypeOfVirus", ViewBag.UsrCtry, ViewBag.UsrCtryLang))</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENG)
        </dd>

        <dt>
            <!--@Html.DisplayNameFor(model => model.orden)-->
            @Html.DisplayName(((string)Paho.Controllers.ResourcesM.SgetMessage("msgOrder", ViewBag.UsrCtry, ViewBag.UsrCtryLang)))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orden)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@(Paho.Controllers.CatVirusTypeController.SgetMessage("msgViewCatPopulation_Borrar", ViewBag.UsrCtry, ViewBag.UsrCtryLang)) class="btn btn-default" /> |
            @Html.ActionLink((string)Paho.Controllers.CatVirusTypeController.SgetMessage("msgReturnToList", ViewBag.UsrCtry, ViewBag.UsrCtryLang), "Index", "CatVirusType", new { }, null)
        </div>
    }
</div>
