@model PagedList.IPagedList<Paho.Models.CatVirusType>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = (Paho.Controllers.CatVirusTypeController.SgetMessage("msgCatalog", ViewBag.UsrCtry, ViewBag.UsrCtryLang)) +" - "+ (Paho.Controllers.CatVirusTypeController.SgetMessage("msgTypeOfVirus", ViewBag.UsrCtry, ViewBag.UsrCtryLang));
}

<h4>@(Paho.Controllers.CatVirusTypeController.SgetMessage("msgCatalog", ViewBag.UsrCtry, ViewBag.UsrCtryLang)) - @(Paho.Controllers.CatVirusTypeController.SgetMessage("msgTypeOfVirus", ViewBag.UsrCtry, ViewBag.UsrCtryLang))</h4>

<p>
    @Html.ActionLink((string)Paho.Controllers.CatVirusTypeController.SgetMessage("msgViewCatPopulation_CrearNuevo", ViewBag.UsrCtry, ViewBag.UsrCtryLang), "Create", "CatVirusType", new { area = "" }, null)
</p>
@using (Html.BeginForm("Index", "CatVirusType", FormMethod.Get))
{
    <p>
        @(Paho.Controllers.CatVirusTypeController.SgetMessage("msgSearchCriteria", ViewBag.UsrCtry, ViewBag.UsrCtryLang)): @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value=@(Paho.Controllers.CatVirusTypeController.SgetMessage("viewHome_btnSearch", ViewBag.UsrCtry, ViewBag.UsrCtryLang)) />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IDSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("SPA", "Index", new { sortOrder = ViewBag.SpaSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("ENG", "Index", new { sortOrder = ViewBag.EngSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>            
            @Html.ActionLink((string)Paho.Controllers.CatVirusTypeController.SgetMessage("msgOrder", ViewBag.UsrCtry, ViewBag.UsrCtryLang), "Index", "CatVirusType", new { sortOrder = ViewBag.OrdenSortParm, currentFilter = ViewBag.CurrentFilter }, null)
        </th>
        <th>
            
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ENG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orden)
            </td>
            <td>
                @Html.ActionLink((string)Paho.Controllers.CatVirusTypeController.SgetMessage("msgViewCatPopulation_Editar", ViewBag.UsrCtry, ViewBag.UsrCtryLang), "Edit", "CatVirusType", new { id = item.ID }, null) |
                @Html.ActionLink((string)Paho.Controllers.CatVirusTypeController.SgetMessage("msgViewCatPopulation_Borrar", ViewBag.UsrCtry, ViewBag.UsrCtryLang), "Delete", "CatVirusType", new { id = item.ID }, null)
            </td>
        </tr>
    }

</table>
<br />
@(Paho.Controllers.CatVirusTypeController.SgetMessage("msgPage", ViewBag.UsrCtry, ViewBag.UsrCtryLang)) @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @(Paho.Controllers.CatVirusTypeController.SgetMessage("msgViewCatPopulation_De", ViewBag.UsrCtry, ViewBag.UsrCtryLang)) @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script type="text/javascript">
    //***************************************
    $('a#MaintenanceM').addClass("active");        //#### CAFQ: 180806
    //***************************************
</script>   
