@model PagedList.IPagedList<Paho.Models.Institution>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = (Paho.Controllers.ResourcesM.SgetMessage("msgCatalog", ViewBag.UsrCtry, ViewBag.UsrCtryLang)) + " - " + (Paho.Controllers.ResourcesM.SgetMessage("msgInstitutions", ViewBag.UsrCtry, ViewBag.UsrCtryLang));
}

<h4>@(Paho.Controllers.ResourcesM.SgetMessage("msgCatalog", ViewBag.UsrCtry, ViewBag.UsrCtryLang)) - @(Paho.Controllers.ResourcesM.SgetMessage("msgInstitutions", ViewBag.UsrCtry, ViewBag.UsrCtryLang))</h4>

<p>
    @Html.ActionLink((string)Paho.Controllers.ResourcesM.SgetMessage("msgViewCatPopulation_CrearNuevo", ViewBag.UsrCtry, ViewBag.UsrCtryLang), "Create", "CatInstitucion", new { area = "" }, null)
</p>
@using (Html.BeginForm("Index", "CatInstitucion", FormMethod.Get))
{
    <p>
        @(Paho.Controllers.ResourcesM.SgetMessage("msgSearchCriteria", ViewBag.UsrCtry, ViewBag.UsrCtryLang)): @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value=@(Paho.Controllers.ResourcesM.SgetMessage("viewHome_btnSearch", ViewBag.UsrCtry, ViewBag.UsrCtryLang)) />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink((string)Paho.Controllers.ResourcesM.SgetMessage("msgCompleteName", ViewBag.UsrCtry, ViewBag.UsrCtryLang), "Index", "CatInstitucion", new { sortOrder = ViewBag.SpaSortParm, currentFilter = ViewBag.CurrentFilter }, null)
        </th>
        <th>
            @Html.ActionLink((string)Paho.Controllers.ResourcesM.SgetMessage("msgName", ViewBag.UsrCtry, ViewBag.UsrCtryLang), "Index", "CatInstitucion", new { sortOrder = ViewBag.SpaSortParm, currentFilter = ViewBag.CurrentFilter }, null)
        </th>
        <th>
            @Html.ActionLink((string)Paho.Controllers.ResourcesM.SgetMessage("msgIrag", ViewBag.UsrCtry, ViewBag.UsrCtryLang), "Index", "CatInstitucion", new { sortOrder = ViewBag.SpaSortParm, currentFilter = ViewBag.CurrentFilter }, null)
        </th>
        <th>
            @Html.ActionLink((string)Paho.Controllers.ResourcesM.SgetMessage("msgIli", ViewBag.UsrCtry, ViewBag.UsrCtryLang), "Index", "CatInstitucion", new { sortOrder = ViewBag.SpaSortParm, currentFilter = ViewBag.CurrentFilter }, null)
        </th>
        <th>
            @Html.ActionLink((string)Paho.Controllers.ResourcesM.SgetMessage("msgSentinel", ViewBag.UsrCtry, ViewBag.UsrCtryLang), "Index", "CatInstitucion", new { sortOrder = ViewBag.SpaSortParm, currentFilter = ViewBag.CurrentFilter }, null)
        </th>
        <th>
            @Html.ActionLink((string)Paho.Controllers.ResourcesM.SgetMessage("msgActive", ViewBag.UsrCtry, ViewBag.UsrCtryLang), "Index", "CatInstitucion", new { sortOrder = ViewBag.SpaSortParm, currentFilter = ViewBag.CurrentFilter }, null)
        </th>
        <th>
            @Html.ActionLink("Orig. country", "Index", new { sortOrder = ViewBag.InstIdSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SARI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ILI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sentinel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orig_country)
            </td>
            <td>
                @Html.ActionLink((string)Paho.Controllers.ResourcesM.SgetMessage("msgViewCatPopulation_Editar", ViewBag.UsrCtry, ViewBag.UsrCtryLang), "Edit", "CatInstitucion", new { id = item.ID }, null) |
                @Html.ActionLink((string)Paho.Controllers.ResourcesM.SgetMessage("msgViewCatPopulation_Borrar", ViewBag.UsrCtry, ViewBag.UsrCtryLang), "Delete", "CatInstitucion", new { id = item.ID }, null)
            </td>
        </tr>
    }

</table>
<br />
@(Paho.Controllers.ResourcesM.SgetMessage("msgPage", ViewBag.UsrCtry, ViewBag.UsrCtryLang)) @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @(Paho.Controllers.ResourcesM.SgetMessage("msgViewCatPopulation_De", ViewBag.UsrCtry, ViewBag.UsrCtryLang)) @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script type="text/javascript">
    //***************************************
    $('a#MaintenanceM').addClass("active");        //#### CAFQ: 180806
    //***************************************
</script>  
