@model Paho.Models.Country

@{
    string labelCatalogCountry = Paho.Controllers.ResourcesM.SgetMessage("msgMenuCatCountry", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string labelReturnToList = Paho.Controllers.ResourcesM.SgetMessage("msgReturnToList", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string labelMsgDeleteRecord = Paho.Controllers.ResourcesM.SgetMessage("msgDeleteRecord", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string labelDelete = Paho.Controllers.ResourcesM.SgetMessage("msgViewCatPopulation_Borrar", ViewBag.UsrCtry, ViewBag.UsrCtryLang);

    string labelCodigo = Paho.Controllers.ResourcesM.SgetMessage("msgISOCode", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string labelNombreSPA = Paho.Controllers.ResourcesM.SgetMessage("msgSpanishName", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string labelNombreENG = Paho.Controllers.ResourcesM.SgetMessage("msgEnglishName", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string labelPais = Paho.Controllers.ResourcesM.SgetMessage("msgCountry", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string labelDivisionesAdminis = Paho.Controllers.ResourcesM.SgetMessage("msgNumberTerritorialPoliticalDivisions", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string labelActivo = Paho.Controllers.ResourcesM.SgetMessage("msgActive", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string labelIdioma = Paho.Controllers.ResourcesM.SgetMessage("msgLanguage", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
}

@{
    ViewBag.Title = labelCatalogCountry;
}

<div>
    <h4>@labelCatalogCountry</h4>
    <hr />
    <h3>@(labelMsgDeleteRecord)?</h3>

    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Code, labelCodigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Code, labelNombreSPA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Code, labelNombreENG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ENG)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Code, labelDivisionesAdminis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberAdminisDivision)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Code, labelActivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Code, labelIdioma)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@labelDelete class="btn btn-default" />
        </div>
    }
</div>

<div>
    <br />
    @Html.ActionLink(@labelReturnToList, "Index")
</div>
