@model Paho.Models.State

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Html.DisplayName((((Paho.Controllers.StateController)this.ViewContext.Controller).getMsg("msgCaselistVigTabGeoLabelState")))</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName((((Paho.Controllers.StateController)this.ViewContext.Controller).getMsg("msgCaselistVigTabGeoLabelCountry")))
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Area.Country.Name)
        </dd>

        <dt>
            @Html.DisplayName((((Paho.Controllers.StateController)this.ViewContext.Controller).getMsg("msgCaselistVigTabGeoLabelArea")))
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaID)
        </dd>

        <dt>
            @Html.DisplayName((((Paho.Controllers.StateController)this.ViewContext.Controller).getMsg("msgCaselistVigTabGeoLabelState")))
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orig_country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.orig_country)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

<script type="text/javascript">
    //***************************************
    $('a#MaintenanceM').addClass("active");        //#### CAFQ: 180806
    //***************************************
</script>
