@model IEnumerable<Paho.Models.Area>

@{
    ViewBag.Title = "Index";
}

<h2>@(((Paho.Controllers.AreaController)this.ViewContext.Controller).getMsg("msgCaselistVigTabGeoLabelArea"))</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName((((Paho.Controllers.AreaController)this.ViewContext.Controller).getMsg("msgCaselistVigTabGeoLabelCountry")))
        </th>
        <th>
            @Html.DisplayName((((Paho.Controllers.AreaController)this.ViewContext.Controller).getMsg("msgCaselistVigTabGeoLabelArea")))
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    //***************************************
    $('a#MaintenanceM').addClass("active");        //#### CAFQ: 180806
    //***************************************
</script>   
