@model Paho.Models.CatSampleNoProcessed

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>@(Paho.Controllers.ResourcesM.SgetMessage("msgDeleteRecord", ViewBag.UsrCtry, ViewBag.UsrCtryLang))?</h3>
<div>
    <h4>CatSampleNoProcessed</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orden)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@(Paho.Controllers.ResourcesM.SgetMessage("msgViewCatPopulation_Borrar", ViewBag.UsrCtry, ViewBag.UsrCtryLang)) class="btn btn-default" /> |
            @Html.ActionLink((string)Paho.Controllers.ResourcesM.SgetMessage("msgReturnToList", ViewBag.UsrCtry, ViewBag.UsrCtryLang), "Index", "CatSampleReasonsNoProcessed", new { }, null)
        </div>
    }
</div>
